{% extends "base.html" %}

{% block title %}Flasky - Confirm your account{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        Pozdrav, {{ current_user.username }}!
    </h1>
    <h3>Još niste potvrdili svoj račun.</h3>
    <p>
        Prije nego možete pristupiti ovoj stranici potrebno je potvrditi račun.
        Provjerite svoj email.
    </p>
    <p>
        Želite novi aktivacijski email ?
        <a href="{{ url_for('auth.resend_confirmation') }}">Kliknite ovdje</a>
    </p>
</div>
{% endblock %}
