{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="page-header">
		<h1>Komentari</h1>
	</div>
	<strong>{{ poruka }}</strong>
	<ul>
		{% for komentar in komentari %}
			<li>{{ komentar["ime"] }} - {{ komentar["komentar"] }}</a></li>
		{% endfor %}
	</ul>
	<hr>
	<form method="post" action="/comments">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		Ime:<br>
		<input type="text" name="ime" value="{{ ime }}"><br>
		Komentar:<br>
		<input type="text" name="komentar" value="{{ komentar }}"><br><br>
		<input type="submit" value="Pošalji komentar">
	</form>
</div>
{% endblock %}
