<nav class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">AboutMeApp</a>
		</div>
		<div id="navigationnn" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="/">Početna</a></li>
				<li><a href="/education">Obrazovanje</a></li>
				<li><a href="/skills">Vještine</a></li>
				<li><a href="/bankAccount">Bankovni račun</a></li>
				<li><a href="/comments">Komentari</a></li>
			</ul>
		</div>
	</div>
</nav>
