{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="page-header">
		<h1>{{ name | upper }}</h1>
	</div>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas nisl ut sapien efficitur lobortis. Duis turpis libero, commodo quis pretium id, fringilla vel turpis. Duis porttitor sollicitudin turpis, quis dictum nulla pharetra fringilla. Sed mollis dignissim magna fermentum aliquam. Etiam varius eros eu mi pharetra, scelerisque ornare neque tempor. Duis ac semper sapien. Aliquam eu lorem ex. Nunc turpis ex, eleifend et interdum non, auctor et massa. Sed suscipit nisl non finibus ullamcorper. Nam lectus nunc, aliquam vitae sagittis et, egestas eu diam. Nullam sed posuere magna, sed mollis purus. Morbi aliquam nisi elit, ac viverra nulla auctor sit amet. Phasellus blandit egestas purus non hendrerit. Nulla consectetur in dui eget euismod.
	</p>
</div>
{% endblock %}
