@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,latin-ext');

body {
    background-color: rgb(241, 238, 238);
    font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
}

.main {
    background-color: white;
}

.drzac_sadrzaja{
	border: 4px solid white;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    	-webkit-box-shadow: 0px 0px 2px 1px silver;
	-moz-box-shadow: 0px 0px 2px 12px silver;
	box-shadow: 0px 0px 2px 1px silver;
    color: #333333;
    margin: 0 10px 50px 10px;
}

.table-hover > tbody > tr:hover {
    cursor: pointer;
}

.panel .panel-heading, .panel .panel-title {
    font-size: 24px;
    font-weight: 300;
    text-transform: none;
    color: #333333;
}

.header_right {
    float: right;
    margin-top: 100px;
    font-size: 24px;
}

.header_background{
    background-image: url("../images/logo_header_large.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    min-height: 100px;
}
.footer {
    margin-top: 30px;
}

/* Utils */
.sivo {
    background-color: #eeeeee;
}

.txt_white{
    color: #ffffff;
}

.overflow-auto {
    overflow: auto;
}

.hiddenRow {
    padding: 0 !important;
}

/* Data responsive tables */
@media only screen and (max-width: 800px) {
    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr {
        border: 1px solid #ccc;
    }

    #no-more-tables td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
        min-height: 37px;
    }

    #no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    /*
Label the data
*/
    #no-more-tables td:before {
        content: attr(data-title);
    }
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
    h2 {
        font-size: 16px;
    }
}
detalji {
    position:absolute;
    transition: .5s ease;
    top: 50%;
    left: 50%;
}

.navbar-blue {
    background-color: #1d3650;
    border-color: #0e4a62;
}

/* Margine */
.margin-left10		{ margin-left:10px; }
.margin-left20		{ margin-left:20px; }
.margin-left30		{ margin-left:30px; }
.margin-left40		{ margin-left:40px; }
.margin-left50		{ margin-left:50px; }
.margin-left60		{ margin-left:60px; }
.margin-left80		{ margin-left:80px; }
.margin-left100		{ margin-left:100px; }
.margin-left130		{ margin-left:130px; }
.margin-left150		{ margin-left:150px; }
.margin-left180		{ margin-left:180px; }
.margin-left200		{ margin-left:200px; }

.margin-right10		{ margin-right:10px; }
.margin-right20		{ margin-right:20px; }
.margin-right30		{ margin-right:30px; }
.margin-right40		{ margin-right:40px; }
.margin-right50		{ margin-right:50px; }
.margin-right60		{ margin-right:60px; }
.margin-right80		{ margin-right:80px; }
.margin-right100		{ margin-right:100px; }
.margin-right130		{ margin-right:130px; }
.margin-right150		{ margin-right:150px; }
.margin-right180		{ margin-right:180px; }
.margin-right200		{ margin-right:200px; }

.margin-top10		{ margin-top:10px; }
.margin-top20		{ margin-top:20px; }
.margin-top30		{ margin-top:30px; }
.margin-top40		{ margin-top:40px; }
.margin-top50		{ margin-top:50px; }
.margin-top60		{ margin-top:60px; }
.margin-top80		{ margin-top:80px; }
.margin-top100		{ margin-top:100px; }
.margin-top130		{ margin-top:130px; }
.margin-top150		{ margin-top:150px; }
.margin-top180		{ margin-top:180px; }
.margin-top200		{ margin-top:200px; }

.padding-10 { padding: 10px; }
.padding-20 { padding: 20px; }