{% extends "base.html" %}

{% block title %}eNovine{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Vijesti</h1>
</div>
<div>
	<div class="news">
		<h2>Kiša je prvi put u 11 godina odgodila biciklijadu</h2>
		<p>
			ZADAR- Kiša je ipak odgodila biciklijadu „Od Branimira do Branimira" koja se vozi na ruti Zadar - Nin - Zadar.
			Iako su iz Zadarske županije u petak najavili kako kiša neće utjecati na organizaciju biciklijade, jutros u 9 sati odluka je pala.
			Biciklijada je prvi odgođena u svojih 11 godina postojanja.
			Svi koji su danas htjeli sudjelovati imat će novu priliku kada iz Županije objave novi termin održavanja biciklijade od Branimira do Branimira koju tehnički provodi Biciklistički klub Zadar.
		</p>
	</div>
	<hr>
	<div class="news">
		<h2>Početak tjedna bez vode dočekat će stanovnici Vrsi</h2>
		<p>
			Zbog radova na vodoopskrbnom sustavu u Vrsima u ponedjeljak u vremenu od 08:30 do 10:30 sati bez vode će biti potrošači u naselju Vrsi-Mulo.
			Tijekom radova, do ponovne uspostave vodoopskrbe, cisterna s vodom za ljudsku potrošnju biti će smještena u naselju Vrsi - Mulo, u ulici Gospe od Zečeva k. br. 133. (kod trgovine "Sonik").
		</p>
	</div>
	<hr>
	<div class="news">
		<h2>Škola rolanja i škola biciklizma u Loptici</h2>
		<p>
			Iz Dječje sportske škole Loptica izvijestili su kako još uvijek traju upisi u školu rolanja i školu biciklizma.
			Obje škole odvijat će se za vrijeme praznika, od 23. do 27. travnja. Trajanje škole je pet dana po 45 minuta, a završni dan je u subotu 27. travnja.
		</p>
	</div>
</div>
{% endblock %}
